.container-fuid{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    padding: 10px;
}

.form-group{
    margin: 10px;
}