.container-fuid{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    padding: 10px;
}

.form-group{
    margin: 10px;
}

.doAnimate{
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    from {margin-left:-100%;}
    to {margin-left: translate(20px);}
}
