.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: bisque;
    height: 95px;
}

.headerTitle > h1{
    font-family: cursive;
    font-size: 50px;
    margin-bottom: 30px;
}

.headerTitle > p{
    color: green;
    font-size: 20px;
    line-height: 0.1;
}

.cartSection{
    display: flex;
    margin: 20px;
    width: 500px;
}
.searchBox{
    margin-right:20px;
    margin-top: -5px;
}
.nav-link{
    margin-right:20px;
    margin-top: -5px;
}
.cartCount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 8px;
    border-radius: 20px;
}
.cartCount > h3{
    margin-top: 16px;
}
.cartIcon{
    cursor: pointer;
}