<div class="productsContainer" [class.doBlur] = "isModelOpen">
    <div class="product" *ngFor = "let p of  foodData | foodFilter: this.service1.searchedFood  |
    paginate : 
    {id: 'listing_pagination',
    itemsPerPage: 2,
    currentPage: page,
    totalItems: totalRecords
    }
    ;let i = index">
       <div class="productImage">
        <img src= "{{  p.foodImg }}" alt="product1">
       </div> 
       <div class="productDetails">
        <h1>{{ p.foodName }}</h1>
        <h4>{{ p.foodDetails }}</h4>
        <h3>₹ {{ p.foodPrice }}</h3>
        <div class="addToCart">
            <button class="addBtn" (click) = "AddToCart( p.id,i )">ADD TO CART</button>
        </div>
    </div>
    </div>
    <div>
      <pagination-controls id="listing_pagination"  (pageChange)="page = $event" ></pagination-controls>
    </div>
</div>
